.input {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgba(210, 194, 255, 0.68);
  margin-bottom: 20px;
}

.input:focus {
  width: 100%;
  padding: 10px;
  border: none !important;
  border-bottom: 2px solid rgba(210, 194, 255, 0.68);
}

.tableColumn {
  font-size: 14px;
}

.tableColumnWebsite {
  font-size: 14px;
  width: 40px;
}
