:root {
  --primaryColor: #2395ff;
  --fontColor: #414141;
  --fontSecondary: #6b6b6b;
  --backgroundColor: #fff;
  --backgroundSecondary: #f5f5f5;
}

* {
  font-family: 'Poppins', sans-serif;
}

.accsentColor {
  width: 100%;
  height: 200px;
  background-color: var(--primaryColor);
  position: absolute;
  top: 0;
  z-index: -1;
}

.wrapperCol {
  background-color: #cee7ff;
  border-radius: 10px;
  padding: 40px;
}

.titleHeader {
  font-size: 45px;
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  color: var(--fontSecondary);
  margin-bottom: 30px;
}
.image {
  width: 200px;
  margin: 40px 0;
}

.buttonConfirm {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  background-color: rgb(225, 155, 25);
  color: var(--fontColor);
  padding: 6px 50px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .titleHeader {
    font-size: 35px;
    font-weight: 700;
  }
}
