/* import font */
@import url("https://fonts.googleapis.com/css?family=Poppins");

/* .body {
  font-family: "Poppins";
} */
.setPos {
  align-content: justify;
}

.listStyle {
  list-style: none;
}

.listStyle a {
  text-decoration: none;
  color: #6c757d;
  display: flex;
}

.footerDown {
  padding-top: 25px;
  padding-bottom: 10px;
}
.imgFooter {
  margin-left: -20px;
}

.iconFooter {
  margin-left: -15px;
}

/* media query footer */
@media (max-width: 767px) {
  .mobileOuterFooter {
    padding: 30px 0 0 0 !important;
  }
  .mobileInnerFooter {
    padding: justify !important;
  }
}
