.cardProfile {
  background-color: #ffffff;
  padding: 28px;
  width: 100%;
  height: 750px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.picProfile img {
  border: 5px solid #2395ff;
  border-radius: 100%;
}

.add {
  margin-top: -30px;
  text-align: end;
  color: #2395ff;
}

.xcard {
  height: 80px;
  padding: 10px;
  background-color: #2395ff;
  border-radius: 15px;
}

.numCard {
  color: #ffffff;
}

.cardX {
  color: #aefaff;
}

.xMoney {
  color: #aefaff;
  margin-top: -40px;
  text-align: end;
}

.iconprofile {
  margin-top: 7px;
  height: 20px;
  width: 20px;
}

.setProfile {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #2395ff;
}

.iconstar {
  margin-top: 7px;
  height: 20px;
  width: 20px;
}

.setMyreview {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: #000000;
}

.iconsettings {
  margin-top: 7px;
  height: 20px;
  width: 20px;
}

.setSettings {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.textSettings {
  color: #000000;
  text-decoration: none !important;
}

.iconlogout {
  margin-top: 7px;
  height: 20px;
  width: 20px;
}

.setLogout {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: #f24545;
  border: none;
  background-color: transparent;
}
